/* components/AboutSection.css */

.about-section {
  padding: 5%;
  text-align: center;
  background-color: var(--background-color); /* 크림 화이트 */
  border-radius: 10px;
  margin-bottom: 30px;
}

.about-title {
  margin: 16px 0;
  border: 2px solid var(--secondary-color); /* 페일 퍼플 */
  padding: 10px;
  border-radius: 5px;
  color: var(--text-color); /* 다크 그레이 */
}

.about-features {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.about-features li {
  font-size: 1.1rem;
  background-color: rgba(198, 160, 255, 0.5); /* 페일 퍼플 */
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 80%;
  width: 100%;
  text-align: left;
  color: var(--text-color); /* 다크 그레이 */
}

@media (max-width: 1024px) {
  .about-title {
      font-size: 2rem;
      border-width: 1.5px;
  }

  .about-features {
      gap: 10px;
  }

  .about-features li {
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .about-title {
      font-size: 1.8rem;
      border-width: 1.2px;
  }

  .about-section {
      padding: 4%;
  }

  .about-features {
      flex-direction: row;
      justify-content: center;
  }

  .about-features li {
      font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .about-title {
      font-size: 1.6rem;
      border-width: 1px;
  }

  .about-section {
      padding: 3%;
  }

  .about-features {
      flex-direction: row;
      justify-content: center;
  }

  .about-features li {
      font-size: 0.75rem;
  }
}
