/* components/Header.css */

.header {
  background-color: var(--accent-color); /* 미드나잇 블루 */
  color: var(--background-color); /* 크림 화이트 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav {
  display: flex;
  gap: 15px;
}

.header-title-link {
  color: var(--primary-color); /* 소프트 핑크 */
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-list {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-link {
  color: var(--background-color); /* 크림 화이트 */
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--secondary-color); /* 페일 퍼플 */
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .nav {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .header-title-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-size: 1rem;
  }
}
