/* components/Kakao.css */

/* 떠다니는 버튼 스타일 */
.floatingBtn {
    position: fixed; /* 스크롤에도 고정된 위치 유지 */
    bottom: 5%;    /* 화면 하단에서 5% 위 */
    right: 5%;     /* 화면 오른쪽에서 5% 왼쪽 */
    background-color: #FEE500 !important; /* 카카오톡 노란색 배경, 전역 스타일 덮어쓰기 */
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 다른 요소 위에 위치 */
}

.icon {
    width: 2.2rem; /* 아이콘 크기 조정 */
    height: 2.2rem;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .floatingBtn {
        width: 3.5rem;
        height: 3.5rem;
        bottom: 4%; /* 화면 크기가 줄어들면 버튼 위치도 조정 */
        right: 4%;
    }

    .icon {
        width: 1.9rem; /* 작은 화면에 맞춰 아이콘 크기 축소 */
        height: 1.9rem;
    }
}

@media (max-width: 480px) {
    .floatingBtn {
        width: 3rem;
        height: 3rem;
        bottom: 3%; /* 더 작은 화면일 때 위치 및 크기 조정 */
        right: 3%;
    }

    .icon {
        width: 1.6rem; /* 아이콘 크기 축소 */
        height: 1.6rem;
    }
}
